@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: #222;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  /* need the height to get it to center in the page when using flex */
  /* height: 100vh; */
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin */
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li a {
  text-transform: uppercase;
  color: #fafafa;
}

.content {
  position: relative;
  max-width: 2000px;
  margin: 50px auto;
  background: red;
  border-style: dotted;
  text-align: center;
}

.content img {
  max-width: 50%;
}

.left {
  position: absolute;
  max-width: 300px;
  left: 75px;
  top: 70px;
  font-size: 30px;
  text-align: left;
  // background: red;
}

.right {
  position: absolute;
  max-width: 300px;
  right: 75px;
  top: 70px;
  font-size: 30px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    border-style: dashed;
    font-size: small;
    .content img {
      max-width: 50%;
    }
  }
}
