@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "New Tegomin", sans-serif;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  /* need the height to get it to center in the page when using flex */
  // height: 100vh;
  overflow-x: hidden;
  margin: 0;
}
